<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
  </head>
  <body>
    <h1>Hello World From the Home Page</h1>

    <p>
      <%= brother %>
    </p>

    <p>
      Your lucky number is: <%= lucky %>
    </p>
  </body>
</html>
