<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <h1>Find Out How Your Stock Is Doing</h1>

    <form action="/info">
      <label>
        Stock code:
        <input type="search" name="symbol" placeholder="AAPL" required>
      </label>
      <button>Find</button>
    </form>
  </body>
</html>
