<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <p>
      <%= symbol %> last sold at: $<%= lastSalePrice %>
    </p>
  </body>
</html>
