<h2>Asset Helpers</h2>

<!--
<img src="http://placekitten.com/500/700">
<img src="/assets/funny.jpg">
-->

<%= image_tag "http://placekitten.com/500/700", :alt => 'A kitten with something wrong with it' %>
<%= image_tag 'funny.jpg' %>

<p>There are also helpers for video_tag, audio_tag</p>
