<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Title</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://via.placeholder.com/400x600" alt="Placeholder image but later a kitten or something">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolor, provident. Temporibus, incidunt, autem. Quibusdam delectus, placeat nisi natus voluptatum vel quas aliquam voluptas, explicabo, beatae provident similique, reprehenderit ut!</p>
      <p>Explicabo iusto non, rem eum, labore, tempore minus tenetur atque accusamus iste laboriosam fuga similique nesciunt modi. Deleniti amet cupiditate optio, dolor facere, voluptatum vero quas blanditiis reprehenderit nulla eum!</p>
      <p>Consequuntur nemo facere minima illum consequatur, sint laudantium, incidunt ab repellat aspernatur itaque illo blanditiis! Expedita quod reprehenderit nulla, obcaecati repudiandae placeat, veniam provident delectus iste, aliquam eligendi quam eum!</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
