<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Online Calculator</title>
</head>
<body>
  <h1>Crappy Online Calculator</h1>
  <p>Welcome to crappy online calculator</p>
  <p>Form coming soon</p>
</body>
</html>
