<h2>Stock Prices</h2>

<form action="/stocks/result">
  <label>
    Stock symbol:
    <input type="search" name="stock_code" required placeholder="GOOG">
  </label>
  <button>Get price</button>
</form>
